#!/usr/bin/env nextflow

process {
        executor="local"

        memory='0.6G'
        cpus='1'
        time='6h'

            withLabel: 'twocpus' {
                  time = { 20.second * task.attempt }
                  errorStrategy = 'retry' 
                  maxRetries = 3    
            }

            withLabel: 'retry_and_ignore' {
                  time = { 20.second * task.attempt }
                  errorStrategy = {task.attempt <= 3 ? 'retry' : 'ignore'}
            }
           
            withName: VEP_RUN {
                  time = { 20.second * task.attempt }
                  errorStrategy = {task.attempt <= 3 ? 'retry' : 'ignore'}
            }

}
