#!/usr/bin/env nextflow

process {

    // resources for default slurm configuration
    //containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
    executor = 'slurm'
    queue = 'shared'

    cpus = 5
    memory = '5 GB'
    time = '50 m'
    
    // default conda and docker container to use
    //conda = "/home/schhetr1/anaconda3/envs/eqtlgen"
    //container = 'docker://ensemblorg/ensembl-vep'
    
// resources for execution of processes / modules with the label "two cpus". This override the default ones.
    withLabel: 'twocpus' {
        cpus='2'
        memory='0.6G'
        queue = 'shared'
        time = '0.5 h'
    }

    withName: script_r_run {
        cpus = 2
        memory = '6 GB'
        queue = 'shared'
    }

    withName: script_python_run {
        cpus = 4
        memory = '8 GB'
        queue = 'shared'
    }
    
    withName: VEP_RUN {
        conda = "/home/schhetr1/anaconda3/envs/eqtlgen"
        container = 'docker://ensemblorg/ensembl-vep'
        cpus = 10
        memory = '30 GB'
        queue = 'shared'
        time = '15 h'
        
        //clusterOptions =  '-N 1 -n 16 -t 02:00:00'
        //clusterOptions='--ntasks-per-node=1 --export=NONE --export=NTHREADS --mem-bind=local'
    }
    
    withName: VEP_RUN_CHROMWISE {
        conda = "/home/schhetr1/anaconda3/envs/eqtlgen"
        container = 'docker://ensemblorg/ensembl-vep'
        cpus = 3
        memory = '10 GB'
        queue = 'shared'
        time = '3 h'
        
        //clusterOptions =  '-N 1 -n 16 -t 02:00:00'
        //clusterOptions='--ntasks-per-node=1 --export=NONE --export=NTHREADS --mem-bind=local'
    }
    
}


//specific to labels for delineation of particular labels from the process-withName config selectors
process {    
 
   // resources for execution of processes / modules with the label "test". This override the default ones.
    withLabel: 'test' {
        memory='1.4G'
        cpus='4'
    }
    
    // resources for execution of processes / modules with the label "two cpus". This override the default ones.
    withLabel: 'test-twocpus' {
        memory='1.2G'
        cpus='2'
    }

    withLabel: slurmLargebig_mem {
        cpus = '38'
        memory = '96 GB'
    }
}

