#!/usr/bin/env nextflow

// params.config

//Dynamic params
params.cohort_name = 'GLOBAL'
params.subjids_file = "${baseDir}/data/split_pops/GLOBAL_ids.txt"
params.ancestry = "GLOBAL"

params.rv_file = "${baseDir}/data/1KGP_731-samples_all.filtered.phased.vcf.gz"
params.gnomad_file = "/data/abattle4/surya/datasets/for_ashis/gnomAD_v2.1/gnomad.genomes.r2.1.1.sites.liftover_grch38.vcf.bgz"
params.gencode_region_file = "${baseDir}/data/gencode.v38.GRCh38.genes_padded10kb_PCandlinc_only.bed"

// gnomAD computation from env setups process
params.gnomad_generegion_filelist = "${baseDir}/data/gnomad/splitvcfs/*.vcf.gz"
params.gnomad_common_chromwise_filelist = "${baseDir}/outputs/0_rv_files/rare_vars/gnomad_common_vars_chromwise/GLOBAL/*.bed"

//params.threads = 12
//params.mode = "entry"

//Constant params
params {

    out_dir = "${launchDir}"
    covariate_infile = "${baseDir}/data/*.covariates.tab.gz"
    readcount_infile = "${baseDir}/data/*.pseudocounts.tab"
    tpm_infile = "${baseDir}/data/*.tpm.tab"
    tissue = 'LCL'
    analysis = 'GLOBAL'  // Default to 'GLOBAL'

}

// Ensure annotation files are present in data dir
params {
    phylopannot_file = "${baseDir}/data/hg38.phyloP100way.sorted.bed.gz"
    gencode_file = "${baseDir}/data/gencode.v38.GRCh38.genes.gtf"
    cadd_script_files = '/scratch16/abattle4/surya/tools/CADD-scripts'
}

// VEP annotation
params {
    cachedir_vep = "${launchDir}/cache/setup_cache/vepcache" // set your custom or prior cache dir if any 
    skip_cache = false
    mode = false
}

// Chromosomewise run
params.num_chromosomes = 22
