#!/usr/bin/env nextflow

// params.config

params {

    out_dir = '/scratch16/abattle4/surya/datasets/for_scripts/project_watershed/nextflow_pipe/test-scripts'
    subjids_file = '/scratch16/abattle4/surya/datasets/WatershedAFR/data/data_prep/GLOBAL_ids.with_pop.txt'
    covariate_infile = '/scratch16/abattle4/surya/datasets/WatershedAFR/data/data_prep/eQTL.covariates.tab.gz'
    readcount_infile = '/scratch16/abattle4/surya/datasets/WatershedAFR/data/data_prep/kgpex.sample.unfiltered.pseudocounts.tab'
    tpm_infile = '/scratch16/abattle4/surya/datasets/WatershedAFR/data/data_prep/kgpex.sample.unfiltered.tpm.tab'
    tissue = 'LCL'
    analysis = 'GLOBAL'  // Default to 'GLOBAL'
    cohort_name = 'GLOBAL' // Default to 'GLOBAL'

}




/*MISCELLANEOUS*/
//subjids_file = '/scratch16/abattle4/surya/datasets/WatershedAFR/data/data_prep/EUR_ids.txt'
//watershed_pyenv = '/data/abattle4/surya/tools/mamba/envs/watershed_pyenv'
//conda_env = '/path/to/watershed_pyenv'
