#!/usr/bin/env nextflow

/*
* This configuration file is the default one used by the pipeline
*/
    //conda = "/home/schhetr1/anaconda3/envs/eqtlgen"
    //container = 'docker://ensemblorg/ensembl-vep'

process {
    // definition of the local executor. Run the pipeline in the current computer.
    //containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
    executor="local"
    

    // resources for default process execution
    cpus='6'
    memory='20G'
    time='0.5h'

    // resources for execution of processes / modules with the label "two cpus". This overrides the default ones.
    withLabel: 'twocpus' {
        memory='0.6G'
        cpus='2'
    }
    
    /*
    withName: script_r_run {
        cpus = 2
        memory = '6 GB'
    }

    withName: script_python_run {
        cpus = 4
        memory = '8 GB'
    }
    
    withName: VEP_RUN {
        conda = "/home/schhetr1/anaconda3/envs/eqtlgen"
        container = 'docker://ensemblorg/ensembl-vep'
        cpus = 20
        memory = '70 GB'
        time = '72 h'
    }
    
    withName: VEP_RUN_CHROMWISE {
        conda = "/home/schhetr1/anaconda3/envs/eqtlgen"
        container = 'docker://ensemblorg/ensembl-vep'
        cpus = 20
        memory = '70 GB'
        time = '72 h'
    }
    */

}


//specific to labels for delineation of particular labels from the process-withName config selectors
process {    
 
   // resources for execution of processes / modules with the label "test". This override the default ones.
    withLabel: 'test' {
        memory='1.4G'
        cpus='4'
    }
    
    // resources for execution of processes / modules with the label "two cpus". This override the default ones.
    withLabel: 'test-twocpus' {
        memory='1.2G'
        cpus='2'
    }

    withLabel: largebig_mem {
        cpus = '36'
        memory = '96 GB'
    }
}

