#!/usr/bin/env nextflow

//includeConfig "../modules/params.config"

//process.container = 'biocorecrg/c4lwg-2018:latest'
//singularity.cacheDir = "$baseDir/singularity"


profiles {
    
    /*
    * As you can see, we explicitly indicated the local executor. 
    * By definition, the local executor is a default executor if the pipeline is run without specifying a profile.
    */

  standard {
     process {
        //containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
        executor="local"
        memory='10G'
        cpus='2'
        time='1h'

        withLabel: 'twocpus' {
            memory='0.6G'
            cpus='2'
        }
      }
   }

    /*
    * This configuration file is the one used when indicating the Nextflow parameter -profile cluster
    */

   cluster {
     process {
        //containerOptions = { workflow.containerEngine == "docker" ? '-u $(id -u):$(id -g)': null}
        executor="SGE"
        queue = "defq"

        memory='1G'
        cpus='1'
        time='6h'

        withLabel: 'twocpus' {
            queue = "bigcpus"
            memory='4G'
            cpus='2'
        }
      }
   }

    /*
    * This configuration file is the one used when indicating the Nextflow parameter -profile cloud
    */

   cloud {

    // Here we define some AWS parameters like the region and the aws executables 

    workDir = 's3://nf-class-bucket-XXX/work'
    aws.region = 'eu-central-1'
    aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'

    // Please change those values with the ones we provided you for accessing the cloud
    aws.accessKey = 'ACCESSKEY'
    aws.secretKey = 'SECRETKEY'

    
      process {

        // definition of the awsbatch executor. Run the pipeline in a AWS node able to submit jobs via batch submission
        executor = 'awsbatch'

        // definition of the default queue name. 
        queue = 'nextflow-ci'
        queue = 'spot'

        // resources for default process execution
        memory='1G'
        cpus='1'
        time='6h'
    
        // resources for execution of processes / modules with the label "two cpus". This override the default ones.
        withLabel: 'twocpus' {
            memory='2G'
            cpus='2'
       }
    }
  }


}
