#!/usr/bin/env nextflow

// nextflow.config

manifest {
    name = 'rarevariant-annotationNF'
    author = 'Surya Chhetri'
    description = 'vep annotation nextflow pipe'
    mainScript = 'main_chromwise_final.nf'
    version = '1.0.0'
}


/*
========================================================================================
    Include integrate modular config files
========================================================================================
*/

includeConfig './conf/params.config'
includeConfig './conf/base.config'
includeConfig './conf/labels.config'
includeConfig './conf/process_resources.config'

//includeConfig './conf/profile_resources.config'

profiles {

    local {
      includeConfig 'conf/local.config'
    }

    slurm {
     includeConfig 'conf/slurm.config'
    }

    sge { 
     includeConfig 'conf/sge.config'
    }

    awsbatch {
      includeConfig 'conf/awsbatch.config'
    }

    docker { docker.enabled = true }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    
    conda { 
        conda.enabled=true 
        //process.conda = "${launchDir}/environment.yml"
    }

    retry {
     includeConfig 'conf/retry.config'
    }

}


/*
=============================================================================================
Custom setup for conda/docker/singularity container (instead of -profile singularity option)
=============================================================================================
*/

conda.enabled=true
singularity {
    enabled=true
    cacheDir="${params.cachedir}/singularity-images"
    autoMounts=true
}

process {

    withName: VEP_RUN {
        module = ['java/19', 'samtools/1.15.1']
        conda = "/home/schhetr1/anaconda3/envs/eqtlgen"
        container = 'docker://ensemblorg/ensembl-vep'
        }
}


/*
========================================================================================
    Custom environment variable setups
========================================================================================
*/

/*
env {
    R_PROFILE_USER = "/.Rprofile"
    R_ENVIRON_USER = "/.Renviron"
    PYTHONNOUSERSITE = 1
    
    NXF_WORK= Directory where working files are stored
    NXF_TEMP= Directory where temporary files are stored
    NXF_CONDA_CACHEDIR= Directory where Conda environments are stored
}
*/



/*
========================================================================================
    Optional Additional Parameters
========================================================================================
*/

timeline {
  overwrite = true
  enabled = true
  file    = "${params.outdir}/timeline.html"
}

report {
  overwrite = true
  enabled = true
  file    = "${params.outdir}/report.html"
}

trace {
  overwrite = true
  enabled = true
  fields  = 'task_id,name,status,exit,realtime,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar'
  file    = "${params.outdir}/trace.txt"
}

