#!/usr/bin/env nextflow

//params.config

/*Input parameters*/

params.vcfDir = "/scratch16/abattle4/surya/datasets/WatershedAFR/data/rare_variants_gnomad/chromwise"
params.inputvcf = "/scratch16/abattle4/surya/tools/nextflow_run/data/homo_sapiens_GRCh38.vcf"
params.outdirprefix = "project-watershed" // set the name of dir for project output

params {
    outdir = projectDir/"${params.outdirprefix}"
    cachedir = "${params.outdir}/cachedir" // set your custom or prior cache dir if any 
    resultoutdir = "${params.outdir}/results" // set result publish dir
    skip_cache = false
    mode = false
    //cachedir_vep = "${params.cachedir}/vep_cache"
}

