#!/usr/bin/env nextflow

// params.config
params {

    out_dir = '/scratch16/abattle4/surya/datasets/for_scripts/project_watershed/nextflow_pipe/test-scripts'
    subjids_file = '/scratch16/abattle4/surya/datasets/WatershedAFR/data/data_prep/GLOBAL_ids.with_pop.txt'
    covariate_infile = '/scratch16/abattle4/surya/datasets/WatershedAFR/data/data_prep/eQTL.covariates.tab.gz'
    readcount_infile = '/scratch16/abattle4/surya/datasets/WatershedAFR/data/data_prep/kgpex.sample.unfiltered.pseudocounts.tab'
    tpm_infile = '/scratch16/abattle4/surya/datasets/WatershedAFR/data/data_prep/kgpex.sample.unfiltered.tpm.tab'
    tissue = 'LCL'
    analysis = 'GLOBAL'  // Default to 'GLOBAL'
    cohort_name = 'GLOBAL' // Default to 'GLOBAL'

}

// Ensure Annotation files are present in data dir
params {
    phylopannot_file = './data/hg38.phyloP100way.sorted.bed.gz'
    gencode_file = './data/gencode.v38.GRCh38.genes.gtf'
    cadd_script_files = '/scratch16/abattle4/surya/tools/CADD-scripts'
}

// VEP Annotation
params {
    cachedir_vep = "${launchDir}/cache/setup_cache/vepcache" // set your custom or prior cache dir if any 
    skip_cache = false
    mode = false
}

// Sanity checks with
params.num_chromosomes = 3


/*MISC
cadd_script_files = '/scratch16/abattle4/surya/datasets/project_watershed/nextflow_pipe/test-scripts/data/CADD-scripts'
cadd_scripts_new = '/scratch16/abattle4/surya/tools/CADD-scripts'
subjids_file = '/scratch16/abattle4/surya/datasets/WatershedAFR/data/data_prep/EUR_ids.txt'
watershed_pyenv = '/data/abattle4/surya/tools/mamba/envs/watershed_pyenv'
conda_env = '/path/to/watershed_pyenv'*/
/*
phylopannot_file = '/scratch16/abattle4/surya/datasets/project_watershed/nextflow_pipe/test-scripts/data/hg38.phyloP100way.sorted.bed.gz'
gencode_file = '/scratch16/abattle4/surya/datasets/project_watershed/nextflow_pipe/test-scripts/data/gencode.v38.GRCh38.genes.gtf'
cadd_script_files = '/scratch16/abattle4/surya/tools/CADD-scripts'*/
